.header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

:host ::ng-deep  .p-button {
  background-color: black;
  border: none;
}

:host ::ng-deep  .p-button:hover {
  background-color: black;
}

:host ::ng-deep  .p-button-text {
  color: white;
  font-weight: bold;
}

.fancy-title {
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  margin-top: 100px;
  font-family: 'Playpen Sans Arabic', sans-serif ;
  font-weight: 600;
  font-size: 2.5rem;
}

.fancy-title::before,
.fancy-title::after {
  content: "";
  flex: 1;
  height: 3.3px;
  background: black;
  margin: 20px 12px 0 12px ;
  width: 60px;
  justify-content: bottom;
}


.social-icons{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
  gap: 8px;
}

.icon{
  font-size: 20px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}
