<div class="container">
  <h2>قائمة عناوين البريد الإلكتروني الالكتروني</h2>
  <div class="card" >
      <p-table
          [value]="emails"
          [paginator]="true"
          [rows]="5"
          [tableStyle]="{ 'min-width': '20rem' }"
          [rowsPerPageOptions]="[5, 10, 20]"
      >
          <ng-template #header>
              <tr>
                  <th style="width:20%">الرقم</th>
                  <th style="width:80%">البريد الالكتروني</th>

              </tr>
          </ng-template>
          <ng-template #body let-email>
              <tr>
                  <td>{{ email.id }}</td>
                  <td>{{ email.email }}</td>
              </tr>
          </ng-template>
      </p-table>
  </div>

</div>
