.header {
  text-align: center;
  margin-bottom: 2rem;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: 'Playpen Sans Arabic', sans-serif;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-error{
  color: #df0a0a;

}

.login-btn{
  background-color: #8f0606;
  width: 100%;
  border: none;
}


:host ::ng-deep  .p-inputtext {
  width: 354.97px;
}


