/* .banner-container{
  height:700px;
  background-image: url('../../../assets/banner-alhadhra.png');
  background-size: cover;
  background-position: center;

}

.banner-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.banner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.5rem;
  position: absolute;
  bottom: -14px;
  left: 39%;
}

a{
  text-decoration: none;
  font-size:x-large;
  padding: 4px;
  color: #E7D7BA;
}
.banner-btn{
  font: bold;
  width: 120px;
  height: 40px;
  background: #2E5D44;
  border: none;

}

 */
